/AddressBookDemoJava/build
/AddressBookDemoCSharp/bin
/AddressBookDemoCSharp/*.userprefs
/AddressBookDemoCSharp/*.pidb
/AddressBookDemoCSharp/obj
/AddressBookDemoVala/build
/AddressBookDemoVala/.lock-waf*
/AddressBookDemoVala/bin
/AddressBookDemoVala/*.userprefs
/AddressBookDemoVala/*.pidb
